*{
	box-sizing: border-box;
}
/*colores*/

.back-amarillo{
	background-color: #ffc000;
}

.back-rojo{
	background-color: #ff0036;
}

.back-verde{
	background-color: #29dd20;
}

.back-azul{
	background-color: #1071ba;
}

.back-general{
	background-color: #edeef3;
}

.text-azul{
	color: #1071ba;
}

.text-rojo{
	color: #ff0036;
}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}


/*navegador*/

.nav2{
	background-color: #fff;

}

.col{
	background-color: #fff;
}

.navegador{
	height: 70px;
	background: #fff;
	padding-top: 1rem;
}

.logo-container{
	height: 100%;
}

.logo-container img{
	max-height: 80%;
}
.usuario{
	display: inline-block;
	margin-right: 1rem;
}

.f-usuario{
	overflow: hidden;
	border-radius: 100%;
	height: 50px;
	width: 50px;
}

.f-usuario img{
	max-width: 100%;
}

.alin{
	-ms-transform: translateY(-1.1rem);
	-webkit-transform: translateY(-1.1rem);
	transform: translateY(-1.1rem;);
}

.menu{
	text-align: center;
	padding-top: 3rem;
}

.menu-item{
	display: inline-block;
	width: 30%;
}

.menu-item:hover{
	border-bottom: 3px solid #ffc000;
}

.menu-active{
	border-bottom: 3px solid #ffc000;
}

/*home contenido*/
.contenido-home{
	padding-top: 100px;
}

.c-secundario{
	background-color: #fff;
	width: 50%;
	padding: 2rem;
	margin:0 auto;
}

.con-sec{
	display: inline-block;
}

.sec-boton{
	width: 25%
	-ms-transform: translateY(-1rem);
	-webkit-transform: translateY(-1rem);
	transform: translateY(-3.5rem);

}

.boton-home{
	background-color: #ffc000;
	padding: 1rem 3rem;
	border-radius: 20px;
	color: #fff;
	font-size: 1.3rem;
	box-shadow: 0 5px 5px #ffc000;
}

.sec-text{
	width: 60%;
}

/*actividades*/

.acti-title{
	margin:0 auto;
	width: 40%;
	margin-top: 100px;
	margin-bottom: 50px;
}

.acti-item{
	background-color: #fff;
	width: 300px;
	padding: 1rem;
	display: inline-block;
	height: 250px;
	margin: 0 1rem;
}

.c-actividades{
	margin:0 auto;
}

.acti-name{
	width: 70px;
	font-size: 1rem;
	color: #fff;
	border-radius: 10px;
	padding: 0.3rem 1rem;
	text-transform: uppercase;
}

.en-title{
	font-size: 2rem;
	font-weight: bold;
}

.en-desc{
	color: #9da5ab;
	font-size: 1.5rem;
}

.en-gana{
	font-size: 1.5rem;
	font-weight: bold;
}

.acti-item img{
	margin:3rem 0;
}

.acti-app{
	background-image: url('../images/app-ejemplo.png');
	background-size: cover;
	color: #fff;
	-ms-transform: translateY(-3.1rem);
	-webkit-transform: translateY(-3.1rem);
	transform: translateY(-3.1rem);
	margin-top: 5.1rem;
}

.app-title, .app-gana{
	font-size: 3rem;
	font-weight: bold;
	margin-top: 1rem;
}

.app-cred{
	margin:0;
	padding: 0;
	font-size: 1rem;
	-ms-transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

.app-desc{
	font-size: 2rem;
}


.app-promo{
	border-radius: 20px;
	padding: 1rem 1.5rem;
	color: #fff;
	margin-top: 2rem;
}

/*perfil*/

.red2{
	background-color: #ff0036;
	box-shadow: 0 5px 5px #aa0016;
}

.perfil-f{
	overflow: hidden;
	border-radius: 100%;
	width: 100px;
	height:100px;
}

.perfil-f img{
	max-width: 100%;
}

.perfil-f, .perfil-info{
	display: inline-block;
}

.perfil-info{
	text-align: left;
	padding-left: 1rem;
}

.p-name{
	font-size: 1.9rem;
}

.p-mail{
	-ms-transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.p-editar{
	-ms-transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
}

.perfil-sec{
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
}

.p-datos{
	display: inline-block;
	width: 49%;
}

.saldo img{
	width: 150px;
}

.saldo-text{
	font-size: 2.3rem;
}

.saldo-cantidad{
	font-size: 4rem;
	font-weight: bold;
}

.p-grafica{
	padding: 3rem 1rem;
	color: #fff;
	margin-top: 1rem;
}

/*perfiln2*/
.saldon2{
	background-color: #fff;
	padding: 2rem;
	height: 245px;
	transform: translateY(-10px;);
	float: left;

}

.saldon2 img{
	width: 50px;
}

.d-inline{
	display: inline-block;
}

.monto{
	border:none;
	background-color: rgba(0,0,0,0);
	text-align: right;
	height: 40px;
}

.in-monto{
	border-radius: 20px;
	height: 40px;
	background-color: #edeef3;
	width: 200px;
	margin: 3rem auto;
}

.invertir{
	border:none;
	padding: 1rem 1.5rem;
	color: #fff;
	border-radius: 20px;
}


.b-nivel2{
	transform: none;
}

.log-retirar img{
	width: 50px;
}

.n2ret{
	float: left;
	text-align: right;
}

.saldo-cant{
	font-size: 2.5rem;
	font-weight: bold;
	padding-top: 0;
	margin-top: 0;
	transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	-webkit-transform: translateY(-12px);
}

.not-status{
	border-radius: 100%;
	width: 30px;
	height: 30px;
}

.not-status img{
	max-width: 80%;
	margin-top: 3px;
}

.s-go{
	background-color: #29dd20;
}

.s-stop{
	background-color: #ff0036;
}

.s-neutral{
	background-color: #1071ba; 
}

.s-gris{
	background-color: #edeef3;
}

.not-title{
	font-size: 1.5rem;
	font-weight: bold;
}

.not-desc{
	font-size: 1.3rem;
}

.not-time{
	font-size: 1rem;
	color: #aaa;
}

.border-l{
	border-left: 1px solid #f1f1f1;
}

.espacio{
	margin-top: 2rem;
}

h3{
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 2rem;
}

.pregunta{
	display: block;
	padding-left: 1rem;
}


.pregunta label{
	padding-left: 1rem;
	font-weight: normal;
}

.sig a{
	border:1px solid #aaa;
	border-radius: 20px;
	width: 100px;
	padding: 0.5rem 1rem;
}

.c-actividades a{
	color: black;
}


/*login*/
#login{
	position: absolute;
	z-index: 200;
	right: 10px;
	top: 80px;
	display: none;
}

.login-dismis{
	width: 100vw;
	height:100vh;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.reg-white{
	background-color: #fff;
	padding: 2rem;
}

.terms{
	padding: 2rem;
}

@media (max-width:768px ) {
	.acti-title{
		width: 90%;
	}

	.c-secundario{
		width: 90%;
	}
	.perfil-sec{
		width: 90%;
	}
	
}
@media (max-width:960px ) {
	.p-datos{
		width: 100%;
	}
}
@media (max-width:768px ) {
	.acti-title{
		width: 90%;
	}

	.c-secundario{
		width: 90%;
	}
	.perfil-sec{
		width: 90%;
	}
	
}

@media (max-width:805px ) {
	.sec-boton{
		width: 100%;
		height: 40px;
		transform: none;
	}
}