/* seccion home */
*{
	margin:0;
	padding:0;
}

body.login{
  background-image:url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f1a343;
}

.navbar-default{
	background-color:rgba(248, 248, 248, 0);
	border-color: rgba(248, 248, 248, 0);
}

a.login{
	color: white !important;
	font-size: 13px;
}

a.login-button{
	border-radius: 20px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	padding-left:20px !important;
	padding-right:20px !important;
	border-color: white !important;
	border:solid 1px; 
	margin-top:9px;
}

a.login-button:hover{
background-color: white !important;
cursor: pointer !important;
color: #f1a343!important;
}

a.registro{
    border-radius: 20px !important;
	padding-top:15px !important;
	padding-bottom:15px !important;
	padding-left:25px !important;
	padding-right:25px !important;
	border-color: white !important;
	background-color:#f14d4d;
	color: white; 
}

.content-cen{
	padding-top: 200px;
}

p.gana{
	padding-top: 4%;
	padding-bottom: 4%;
	padding-right:100px;
}

a.registro:hover{
	opacity: .8;
}

@media only screen and (max-width: 424px) {
.content-cen{
	padding-top: 50px;
}

img.coin{
	display: block;
	margin: auto;
}
}

/* seccion login */

.color-white{
	background-color:white;
	width:100%;
	height: auto;
   padding-top: 30px;
   box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.30);
}


.button-red{
	width: 50px;
	height: 50px;
	background-color:#f14d4d;
	text-align: center;
	border-radius: 50px;
	margin-left:30%;
	margin-top: 8%;
}


p.n-one{
	color: white;
	font-size: 35px;
}

.button-yellow{
	width: 50px;
	height: 50px;
	background-color:#ffc000;
	text-align: center;
	border-radius: 50px;
	margin-left: 20%;
	margin-top: 8%;
}


p.n-two{
	color: white;
	font-size: 35px;
}

p.reg-text{
	color:#777777;
	font-size: 20px;
	font-weight: lighter;777777
	margin-top: 40px;
}

.reg-text{
	padding-top:5%;
}


.profile-pic{
padding-top: 5%;
text-align: center;
padding-bottom:8%;
}



.paddin-reg{
	display: block;
	margin: auto;
	padding-left: 20px;
}


input.circle-border{
border-style: solid;
border-radius:10px;
padding-top:5px;
padding-bottom: 5px;
border-color:#f0f2f3;
padding-left:9px;
width: 200px;
background-color: #f0f2f3;
}

.paddin-inp{
padding-top: 5%;
}


.padin-checkbox{
	padding-top:8%;
	margin-left:130px;
}

p.condiciones{
	color: #576472;
}

b.term{
	color: #0099ff;
	text-decoration: underline;
}

.paddin-buttonenv{
	padding-top: 8%;
	padding-bottom: 10%;
	text-align: center;
}


input.circle-border2{
border-style: solid;
border-radius:10px;
padding-top:5px;
padding-bottom: 5px;
border-color:#f0f2f3;
padding-left:9px;
width: 300px;
background-color: #f0f2f3;
}


.olv-cont{
	text-align: right;
	margin-left: -60px;
	margin-top: 15px;
}


/*upgrade*/


.color-white2{
	background-color:white;
	width:100%;
	height: auto;
   padding-top: 90px;
   border-radius: 5px;
   margin-top: 10%;
}

h3.conv-upgrade{
	color:#f14d4d;
	text-align: center;
	font-weight: 200;
}

img.upgrade{
	display: block;
	margin: auto;
}

p.nec-up{
	color: #777777;
	margin-top:20px;
}

.cent{
margin-left: 32%;
padding-top: 5%;
}

.numt-up{
	margin-left:38%;
	margin-top:5%;

}

input.input-upgrade{
border-style: solid;
border-radius:10px;
padding-top:5px;
padding-bottom: 5px;
border-color:#f0f2f3;
padding-left:9px;
width: 300px;
background-color: #f0f2f3;
margin-left: 38%;
}

.cards-upgrade{
	margin-left:37%;
	padding-top:2%;
}

.cards-upgrade-second{
	margin-left:36%;
	padding-top:2%;
	padding-left: 10px;
}


input.input-card{
border-style: solid;
border-radius:10px;
padding-top:5px;
padding-bottom: 5px;
border-color:#f0f2f3;
padding-left:9px;
width: 50px;
background-color: #f0f2f3;
}

p.text-cvv{
	margin-left:10px;
	margin-top: 5px;
}

.paddin-buttonenv2{
	padding-top:2%;
	text-align: center;
	padding-bottom: 3%;
}

.padin-checkbox{
	padding-top:2%;
	margin-left:130px;
	padding-left:27%;
}

@media only screen and (max-width:1199px) {

	.numt-up{
		margin-left:35%; 
	}

	input.input-upgrade{
		margin-left: 35%;
	}

	.cards-upgrade{
		margin-left: 34%;
	}

	.cards-upgrade-second{
		margin-left: 33%;

	}

	.padin-checkbox{
		padding-left: 22%;
	}

}

@media only screen and (max-width:991px) {
.cent{
	margin-left: 5%;
	padding-bottom: 2%;
}
	.numt-up{
		margin-left:29%; 
	}

	input.input-upgrade{
		margin-left:29%;
	}

	.cards-upgrade{
		margin-left:28%;
	}

	.cards-upgrade-second{
		margin-left:27%;

	}

	.padin-checkbox{
		padding-left:12.5%;
	}

	.necesitams{
		padding-left: 170px;
		margin-top: 10px;
		padding-right:160px;
	}

	.paddin-buttonenv2{
		padding-top: 5%;
	}

}

@media only screen and (max-width: 424px) {

	.necesitams{
		padding-left:25px;
		margin-top: 25px;
		padding-right:5px;
	}

		.numt-up{
		margin-left:11.5%; 
	}

		input.input-upgrade{
		margin-left:12%;
	}

		.cards-upgrade{
		margin-left:11.5%;
		padding-top: 7%;
	}

		.cards-upgrade-second{
		margin-left:10%;

	}

		.padin-checkbox{
	   margin-left:2%;
	   padding-right: 60px;
	   padding-top: 7%;
	}

		.paddin-buttonenv2{
		padding-top: 8%;
	}

input.input-card{
	width: 40px;
	padding-left: 3px;
	font-size: 10px;
}

.float{
	padding-right: 40px;
}



}

@media only screen and (max-width: 370px) {
	input.input-upgrade{
		width: 220px;
	}
}

@media only screen and (max-width: 370px) {
	.float{
	padding-right:30px;
}

}
























